* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: TTLakes;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
}

@font-face {
    font-family: TTLakes;
    src: url("fonts/TTLakes-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: TTLakes;
    src: url("fonts/TTLakes-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: TTLakes;
    src: url("fonts/TTLakes-DemiBold.ttf");
    font-weight: 600;
}

.header-menu {
    background-color: white;
    padding: 18px 16px;
    height: 88px;
}

.header__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3E79;
    border-radius: 50%;
    border: none;
    margin-left: 7px;
}

.tbl,
.desktop {
    display: none;
}

.header__li {
    position: relative;
}

.header__li::after {
    content: "";
    position: absolute;
    height: 32px;
    width: 2px;
    background-color: #EAEAEA;
    top: -25px;
    left: 114px;
}

.main {
    background-color: #F8F8F8;
}

.main-display__content {
    padding: 24px 16px;
    background-color: #F8F8F8;
}

.main-display__heading {
    font-size: 28px;
    font-weight: bold;
    position: relative;
}

.main-display__heading::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    top: 0px;
    left: -16px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.navig__li {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    white-space: nowrap;
    gap: 1px;
}

.navig_item {
    color: #7E7E82;
}

.navig__li::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.navig__li,
.navig__li:active,
.navig__li:visited {
    color: #7E7E82;
    padding: 6px 16px;
    font-size: 16px;
    line-height: 24px;
}

.navig__btn {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 8px 16px;
    color: #7E7E82;

}

.navig__btn:focus {
    border: 2px solid #B8FFEC;
    padding: 8px 16px;
    background-color: white;
    border-radius: 6px;
}

.main-display__text {
    font-size: 14px;
}

.main-display__join-text {
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
}

.read-more {
    padding-top: 16px;
}

.read-more__btn {
    background-color: transparent;
    border: none;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
}

.read-more__btn::before {
    content: url(./img/expand.png);
    position: absolute;
    left: -6px;
    top: -2px;
}

.main-display__img {
    width: auto;
}

.main-display__img {
    width: 100%;
}

@media(min-width:768px) {
    .header-menu {
        padding: 18px 24px;
    }

    .tbl {
        display: flex;
    }

    .text-hide {
        display: flex;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .header__li::after {
        left: -15px;
    }

    .list__elements:nth-child(2) {
        margin-right: 30%;
    }

    .list__elements:nth-child(6) {
        position: relative;
        margin-left: 3%;
    }

    .list__elements:nth-child(6)::before {
        content: "";
        position: absolute;
        height: 32px;
        width: 2px;
        background-color: #EAEAEA;
        top: 4px;
        left: -22px;
    }

    .main-display__content {
        padding: 24px 24px 32px 24px;
    }

    .main-display__heading::before {
        left: -24px;
        top: -1px;
    }

    .main-display__description {
        padding: 32px 24px;
        display: flex;
        justify-content: space-between;
    }

    .main-display__join-text {
        padding: 0px;
        width: 45%;
    }

    .main-display__img {
        width: 360px;
    }

}

@media(min-width:1120px) {
    .header {
        display: none;
    }

    .main-display {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 42px 32px 8px 32px;
    }

    .desktop {
        display: flex;
        align-items: center;
    }

    .main-display__content {
        padding: 0px;
    }

    .main-display__description {
        padding-top: 16px;
    }

    .main-display__heading::before {
        left: -33px;
        top: -1px;
    }

    .main-display__li {
        margin-right: 8px;
        color: #1B1C21;
        font-weight: 600;
    }

    .main-display__li:active,
    .main-display__li:visited {
        color: #1B1C21;
    }

    .main-display__btn:nth-child(2) {
        margin-right: 32px;

    }

    .navig__li {
        display: flex;
        flex-wrap: wrap;
        overflow: visible;
        gap: 0;
    }

    .text-hide {
        display: flex;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
    }

    .main-display__img {
        width: 50%;
        max-width: 540px;
    }
}